.seatsContainer {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.seatsTable{
  font-size: 1rem;
  text-align: center;
  float: left;
}

.seatsTable th {
  height: 2.5vw;
  color: black;
  background-color: white;
  text-align: center;
}

.seatsTable td {
  float: left;
  margin: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 2vw;
  padding: 0;
}

.label {
  color: white;
}

.taken {
  color: grey;
  border: 1.5px solid grey;
}

.available {
  color: #fff;
}

.selected {
  background: white;
  color: black;
  display: inline-block;
}

.selected:hover {
  opacity: 0.8;
  cursor: pointer;
}

.available:hover {
  background-color: gray;
  cursor: pointer;
}

@media only screen and (max-width: 1100px)  {
  .seatsTable td {
    width: 2.5vw;
    height: 2.5vw;
  }
}

@media only screen and (max-width: 900px)  {
  .seatsTable td {
    width: 3vw;
    height: 3vw;
  }
}

@media only screen and (max-width: 700px)  {
  .seatsTable td {
    width: 3.5vw;
    height: 3.5vw;
  }
}

@media only screen and (max-width: 750px)  {
  .seatsTable{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 420px)  {
  .seatsTable{
    font-size: 0.5rem;
  }
}